## Inportaciones

In [2]:
import pyodbc
import pandas as pd
import sqlite3
import datetime

Se debe cambiar a la dirección correspondiente

In [3]:
db_path = r"X:\Instituto\BI\Proyecto-Capstone\POS\BackEnd\db.sqlite3"

## Conexión

In [6]:
conn_str = (
    "DRIVER={ODBC Driver 17 for SQL Server};"
    "SERVER=localhost;"
    "DATABASE=POSREF;"
    "Trusted_Connection=yes;"
)

# Conexión
try:
    conn = pyodbc.connect(conn_str)
    print("Conexión exitosa.")
except Exception as e:
    print("Error de conexión:", e)

Conexión exitosa.

Ma_familia 1 son platos y menus 

Ma_familia 2 son papas

Ma_familia 3 son bebidas

Ma_familia 4 son descuentos (Los remplace por extras)

## Extract de Ventas

In [188]:

query = """
SELECT 
    lv2.Lv_nro as venta_id,
    lv2.Lv_art as producto_id,
    lv2.Lv_cant as cantidad,
    lv2.Lv_precio as precio_unitario,
    lv2.Lv_linea as total


FROM LVENTA2 AS lv2
LEFT JOIN LVENTA1 AS lv1
    ON lv2.Lv_nro = lv1.Lv_nro
    AND lv2.lv_nro   = lv1.lv_nro

"""

df = pd.read_sql(query, conn)
print("Filas leídas:", len(df))
df.head(20)

Filas leídas: 696

C:\Users\sherr\AppData\Local\Temp\ipykernel_33588\3334351786.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

    venta_id           producto_id  cantidad  precio_unitario    total
0        1.0  1                          1.0          13990.0  13990.0
1        1.0  2                          1.0           7500.0   7500.0
2        2.0  1                          1.0          14990.0  14990.0
3        3.0  41                         1.0          13490.0  13490.0
4        4.0  48                         2.0            500.0   1000.0
5        4.0  6                          1.0           3900.0   3900.0
6        5.0  14                         1.0           3300.0   3300.0
7        5.0  45                         1.0          21990.0  21990.0
8        6.0  14                         1.0           3300.0   3300.0
9        6.0  45                         1.0          21990.0  21990.0
10       6.0  48                         4.0            500.0   2000.0
11       6.0  6                          1.0           3900.0   3900.0
12       7.0  6                          1.0           3900.0   3900.0
13       8.0  17                         1.0           5990.0   5990.0
14       9.0  3                          1.0           4500.0   4500.0
15      10.0  21                         1.0          11490.0  11490.0
16      11.0  1                          1.0          14990.0  14990.0
17      12.0  21                         1.0          11490.0  11490.0
18      12.0  48                         1.0            500.0    500.0
19      13.0  2                          1.0           7990.0   7990.0

In [155]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   venta_id         696 non-null    float64
 1   producto_id      696 non-null    object
 2   cantidad         696 non-null    float64
 3   precio_unitario  696 non-null    float64
 4   total            696 non-null    float64
dtypes: float64(4), object(1)
memory usage: 27.3+ KB

## Transformaciones

In [189]:
df["venta_id"] = df["venta_id"].astype(int)
df["producto_id"] = df["producto_id"].astype(int)
df["precio_unitario"] = df["precio_unitario"].astype(int)
df["total"] = df["total"].astype(int)

In [158]:
lista_Base_original = [
    {'id_asignado': 1, 'descripcion_B': 'POLLO ENTERO'},
    {'id_asignado': 2, 'descripcion_B': '1/2 POLLO'},
    {'id_asignado': 3, 'descripcion_B': '1/4 POLLO'},
    {'id_asignado': 10, 'descripcion_B': 'BEBIDA LATA'},
    {'id_asignado': 11, 'descripcion_B': 'BEBIDA 1 1/2 LITROS'},
    {'id_asignado': 14, 'descripcion_B': 'BEBIDA 3 LITROS'},
    {'id_asignado': 16, 'descripcion_B': 'COLACION COSTILLAR'},
    {'id_asignado': 17, 'descripcion_B': 'COLACION PARA LLEVAR'},
    {'id_asignado': 21, 'descripcion_B': 'MENU 4 (1/2 POLLO + PAPAS MEDIANAS)'},
    {'id_asignado': 22, 'descripcion_B': 'MENU 5 (1 POLLO ENTERO + PAPA)'},
    {'id_asignado': 23, 'descripcion_B': 'MENU 6 (POLLO ENTERO + PAPAS + BEBIDA 1.5)'},
    {'id_asignado': 24, 'descripcion_B': 'MENU 7 (POLLO ENTERO + PAPAS + BEBIDA 1.5)'},
    {'id_asignado': 25, 'descripcion_B': 'AGUA MINERAL CHICA'},
    {'id_asignado': 26, 'descripcion_B': 'MONSTER ENERGY'},
    {'id_asignado': 27, 'descripcion_B': 'REDBULL'},
    {'id_asignado': 31, 'descripcion_B': 'BEBIDA 1/2'},
    {'id_asignado': 32, 'descripcion_B': 'VITAL CHICA'},
    {'id_asignado': 33, 'descripcion_B': 'VITAL GRANDE 1600 CC'},
    {'id_asignado': 34, 'descripcion_B': 'JUGO BOCA ANCHA CHICO'},
    {'id_asignado': 35, 'descripcion_B': 'JUGO BOTELLA GRANDE 1.5'},
    {'id_asignado': 36, 'descripcion_B': 'SCORE'},
    {'id_asignado': 37, 'descripcion_B': 'KAPO'},
    {'id_asignado': 38, 'descripcion_B': 'POWERADE'},
    {'id_asignado': 41, 'descripcion_B': '1/2 POLLO + PAPAS MEDIANAS + BEBIDA 1.5'},
    {'id_asignado': 42, 'descripcion_B': 'BANDEJA PEQUEÑA'},
    {'id_asignado': 43, 'descripcion_B': 'BANDEJA GRANDE'},
    {'id_asignado': 45, 'descripcion_B': 'PROMO POLLO + PAPA EXTRA GRANDE'},
    {'id_asignado': 48, 'descripcion_B': 'SALSA'},
    {'id_asignado': 5, 'descripcion_B': 'PAPAS NORMAL'},
    {'id_asignado': 6, 'descripcion_B': 'PAPAS MEDIANA'},
    {'id_asignado': 7,'descripcion_B': 'PAPAS GRANDE'},
    {'id_asignado': 8,'descripcion_B': 'PAPAS EXTRAGRANDE'},
    {'id_asignado': 9, 'descripcion_B': 'BEBIDA EXPRESS'}]

In [157]:
lista_base_nueva = [
    {'id_asignado': 11, 'descripcion_B': 'Pollo entero'},
    {'id_asignado': 17, 'descripcion_B': '1/2 POLLO'},
    {'id_asignado': 22, 'descripcion_B': '1/4 POLLO'},
    {'id_asignado': 12, 'descripcion_B': 'Bebida lata'},
    {'id_asignado': 13, 'descripcion_B': 'Bebida 1 1/2 litros'},
    {'id_asignado': 16, 'descripcion_B': 'Bebida 3 litros'},
    {'id_asignado': 16, 'descripcion_B': 'Colacion costillar'},
    {'id_asignado': 17, 'descripcion_B': 'Colacion para llevar'},
    {'id_asignado': 18, 'descripcion_B': 'Menu 4 (1/2 pollo + papas medianas)'},
    {'id_asignado': 19, 'descripcion_B': 'Menu 5 (1 pollo entero + papa)'},
    {'id_asignado': 20, 'descripcion_B': 'Menu 6 (pollo entero+ papas +bebida1.5)'},
    {'id_asignado': 21, 'descripcion_B': 'Menu 7 (pollo entero+papas+bebida 1.5)'},
    {'id_asignado': 25, 'descripcion_B': 'Vital Chica'},
    {'id_asignado': 18, 'descripcion_B': 'Monster energy'},
    {'id_asignado': 19, 'descripcion_B': 'Redbull'},
    {'id_asignado': 24, 'descripcion_B': 'Bebida 1/2'},
    {'id_asignado': 25, 'descripcion_B': 'Vital chica'},
    {'id_asignado': 26, 'descripcion_B': 'Vital grande 1600 cc'},
    {'id_asignado': 27, 'descripcion_B': 'Jugo boca ancha chico'},
    {'id_asignado': 28, 'descripcion_B': 'Jugo botella grande 1.5'},
    {'id_asignado': 29, 'descripcion_B': 'Score'},
    {'id_asignado': 30, 'descripcion_B': 'Kapo'},
    {'id_asignado': 31, 'descripcion_B': 'Powerade'},
    {'id_asignado': 35, 'descripcion_B': 'Papas normal (probablemente)'},
    {'id_asignado': 22, 'descripcion_B': '1/2 pollo + papas medianas + bebida 1,5'},
    {'id_asignado': 40, 'descripcion_B': 'Bandeja pequeña'},
    {'id_asignado': 41, 'descripcion_B': 'Bandeja grande'},
    {'id_asignado': 25, 'descripcion_B': 'Promo pollo + papa extra grande'},
    {'id_asignado': 34, 'descripcion_B': 'Salsa'},
    {'id_asignado': 35, 'descripcion_B': 'Papas normal'},
    {'id_asignado': 36, 'descripcion_B': 'Papas mediana'},
    {'id_asignado': 37, 'descripcion_B': 'Papas grande'},
    {'id_asignado': 38, 'descripcion_B': 'Papas extragrande'},
    {'id_asignado': 39, 'descripcion_B': 'Bebida express'}]

In [190]:
# --- Convertir a DataFrames ---
df_A = pd.DataFrame(lista_Base_original)
df_B = pd.DataFrame(lista_base_nueva)

# --- Normalizar texto para comparar ---
def normalizar(texto):
    return str(texto).strip().lower()

df_A["norm"] = df_A["descripcion_B"].apply(normalizar)
df_B["norm"] = df_B["descripcion_B"].apply(normalizar)

# --- Comparar por descripción ---
df_merge = pd.merge(df_A, df_B[["id_asignado", "norm"]], on="norm", how="left", suffixes=("_original", "_nueva"))

# --- Resultado final: solo descripción original + id nueva ---
df_resultado = df_merge[["descripcion_B", "id_asignado_nueva","id_asignado_original"]].rename(columns={"id_asignado_nueva": "id_final","id_asignado_original": "id_original"})

In [191]:
df_resultado

                                 descripcion_B  id_final  id_original
0                                 POLLO ENTERO      11.0            1
1                                    1/2 POLLO      17.0            2
2                                    1/4 POLLO      22.0            3
3                                  BEBIDA LATA      12.0           10
4                          BEBIDA 1 1/2 LITROS      13.0           11
5                              BEBIDA 3 LITROS      16.0           14
6                           COLACION COSTILLAR      16.0           16
7                         COLACION PARA LLEVAR      17.0           17
8          MENU 4 (1/2 POLLO + PAPAS MEDIANAS)      18.0           21
9               MENU 5 (1 POLLO ENTERO + PAPA)      19.0           22
10  MENU 6 (POLLO ENTERO + PAPAS + BEBIDA 1.5)       NaN           23
11  MENU 7 (POLLO ENTERO + PAPAS + BEBIDA 1.5)       NaN           24
12                          AGUA MINERAL CHICA       NaN           25
13                              MONSTER ENERGY      18.0           26
14                                     REDBULL      19.0           27
15                                  BEBIDA 1/2      24.0           31
16                                 VITAL CHICA      25.0           32
17                                 VITAL CHICA      25.0           32
18                        VITAL GRANDE 1600 CC      26.0           33
19                       JUGO BOCA ANCHA CHICO      27.0           34
20                     JUGO BOTELLA GRANDE 1.5      28.0           35
21                                       SCORE      29.0           36
22                                        KAPO      30.0           37
23                                    POWERADE      31.0           38
24     1/2 POLLO + PAPAS MEDIANAS + BEBIDA 1.5       NaN           41
25                             BANDEJA PEQUEÑA      40.0           42
26                              BANDEJA GRANDE      41.0           43
27             PROMO POLLO + PAPA EXTRA GRANDE      25.0           45
28                                       SALSA      34.0           48
29                                PAPAS NORMAL      35.0            5
30                               PAPAS MEDIANA      36.0            6
31                                PAPAS GRANDE      37.0            7
32                           PAPAS EXTRAGRANDE      38.0            8
33                              BEBIDA EXPRESS      39.0            9

In [192]:
# --- Corrección manual sobre df_resultado ---
# Asegúrate de que df_resultado ya existe

correcciones = {
    "MENU 6 (POLLO ENTERO + PAPAS + BEBIDA 1.5)": 20,
    "MENU 7 (POLLO ENTERO + PAPAS + BEBIDA 1.5)": 21,
    "AGUA MINERAL CHICA": 25,
    "1/2 POLLO + PAPAS MEDIANAS + BEBIDA 1.5": 22
}

# Aplicar correcciones
df_resultado["id_final"] = df_resultado.apply(
    lambda row: correcciones.get(row["descripcion_B"], row["id_final"]), axis=1
)

# Ver resultado actualizado
df_resultado

                                 descripcion_B  id_final  id_original
0                                 POLLO ENTERO      11.0            1
1                                    1/2 POLLO      17.0            2
2                                    1/4 POLLO      22.0            3
3                                  BEBIDA LATA      12.0           10
4                          BEBIDA 1 1/2 LITROS      13.0           11
5                              BEBIDA 3 LITROS      16.0           14
6                           COLACION COSTILLAR      16.0           16
7                         COLACION PARA LLEVAR      17.0           17
8          MENU 4 (1/2 POLLO + PAPAS MEDIANAS)      18.0           21
9               MENU 5 (1 POLLO ENTERO + PAPA)      19.0           22
10  MENU 6 (POLLO ENTERO + PAPAS + BEBIDA 1.5)      20.0           23
11  MENU 7 (POLLO ENTERO + PAPAS + BEBIDA 1.5)      21.0           24
12                          AGUA MINERAL CHICA      25.0           25
13                              MONSTER ENERGY      18.0           26
14                                     REDBULL      19.0           27
15                                  BEBIDA 1/2      24.0           31
16                                 VITAL CHICA      25.0           32
17                                 VITAL CHICA      25.0           32
18                        VITAL GRANDE 1600 CC      26.0           33
19                       JUGO BOCA ANCHA CHICO      27.0           34
20                     JUGO BOTELLA GRANDE 1.5      28.0           35
21                                       SCORE      29.0           36
22                                        KAPO      30.0           37
23                                    POWERADE      31.0           38
24     1/2 POLLO + PAPAS MEDIANAS + BEBIDA 1.5      22.0           41
25                             BANDEJA PEQUEÑA      40.0           42
26                              BANDEJA GRANDE      41.0           43
27             PROMO POLLO + PAPA EXTRA GRANDE      25.0           45
28                                       SALSA      34.0           48
29                                PAPAS NORMAL      35.0            5
30                               PAPAS MEDIANA      36.0            6
31                                PAPAS GRANDE      37.0            7
32                           PAPAS EXTRAGRANDE      38.0            8
33                              BEBIDA EXPRESS      39.0            9

In [193]:
# Lista de nombres de promociones (normalizadas en minúsculas)
promos = [
    "colacion costillar",
    "colacion para llevar",
    "menu 4 (1/2 pollo + papas medianas",
    "menu 5 (1 pollo entero + papa)",
    "menu 6 (pollo entero+ papas +bebida1.5)",
    "menu 7 (pollo entero+papas+bebida 1.5)",
    "1/2 pollo+papas medianas+bebida 1,5",
    "promo pollo + papa extra grande"
]

# Normalizamos nombres
df_resultado["descripcion_norm"] = df_resultado["descripcion_B"].str.lower().str.strip()

# Marcamos si es promoción
df_resultado["es_promocion"] = df_resultado["descripcion_norm"].isin(promos)

# Creamos columnas separadas
df_resultado["producto_id_final"] = df_resultado.apply(
    lambda x: x["id_final"] if not x["es_promocion"] else None, axis=1
)
df_resultado["promo_id_final"] = df_resultado.apply(
    lambda x: x["id_final"] if x["es_promocion"] else None, axis=1
)

# Eliminamos columna auxiliar si no la necesitas
df_resultado.drop(columns=["descripcion_norm"], inplace=True)

# Mostrar resultado
df_resultado[["descripcion_B", "id_original", "id_final", "es_promocion", "producto_id_final", "promo_id_final"]]

,descripcion_B,id_original,id_final,es_promocion,producto_id_final,promo_id_final
0,POLLO ENTERO,1,11.0,False,11.0,NaN
1,1/2 POLLO,2,17.0,False,17.0,NaN
2,1/4 POLLO,3,22.0,False,22.0,NaN
3,BEBIDA LATA,10,12.0,False,12.0,NaN
4,BEBIDA 1 1/2 LITROS,11,13.0,False,13.0,NaN
5,BEBIDA 3 LITROS,14,16.0,False,16.0,NaN
6,COLACION COSTILLAR,16,16.0,True,NaN,16.0
7,COLACION PARA LLEVAR,17,17.0,True,NaN,17.0
8,MENU 4 (1/2 POLLO + PAPAS MEDIANAS),21,18.0,False,18.0,NaN
9,MENU 5 (1 POLLO ENTERO + PAPA),22,19.0,True,NaN,19.0
10,MENU 6 (POLLO ENTERO + PAPAS + BEBIDA 1.5),23,20.0,False,20.0,NaN
11,MENU 7 (POLLO ENTERO + PAPAS + BEBIDA 1.5),24,21.0,False,21.0,NaN
12,AGUA MINERAL CHICA,25,25.0,False,25.0,NaN
13,MONSTER ENERGY,26,18.0,False,18.0,NaN
14,REDBULL,27,19.0,False,19.0,NaN
15,BEBIDA 1/2,31,24.0,False,24.0,NaN
16,VITAL CHICA,32,25.0,False,25.0,NaN
17,VITAL CHICA,32,25.0,False,25.0,NaN
18,VITAL GRANDE 1600 CC,33,26.0,False,26.0,NaN
19,JUGO BOCA ANCHA CHICO,34,27.0,False,27.0,NaN
20,JUGO BOTELLA GRANDE 1.5,35,28.0,False,28.0,NaN
21,SCORE,36,29.0,False,29.0,NaN
22,KAPO,37,30.0,False,30.0,NaN
23,POWERADE,38,31.0,False,31.0,NaN
24,1/2 POLLO + PAPAS MEDIANAS + BEBIDA 1.5,41,22.0,False,22.0,NaN
25,BANDEJA PEQUEÑA,42,40.0,False,40.0,NaN
26,BANDEJA GRANDE,43,41.0,False,41.0,NaN
27,PROMO POLLO + PAPA EXTRA GRANDE,45,25.0,True,NaN,25.0
28,SALSA,48,34.0,False,34.0,NaN
29,PAPAS NORMAL,5,35.0,False,35.0,NaN
30,PAPAS MEDIANA,6,36.0,False,36.0,NaN
31,PAPAS GRANDE,7,37.0,False,37.0,NaN
32,PAPAS EXTRAGRANDE,8,38.0,False,38.0,NaN
33,BEBIDA EXPRESS,9,39.0,False,39.0,NaN

In [194]:


# --- Crear diccionario base desde df_resultado ---
dicc_reemplazo_producto = dict(zip(df_resultado["id_original"], df_resultado["producto_id_final"]))
dicc_reemplazo_promo = dict(zip(df_resultado["id_original"], df_resultado["promo_id_final"]))

# --- Asignar columnas nuevas en df ---
df["producto_id_nuevo"] = df["producto_id"].map(dict(zip(df_resultado["id_original"], df_resultado["id_final"])))
df["producto_id_final"] = df["producto_id"].map(dicc_reemplazo_producto)
df["promo_id_final"] = df["producto_id"].map(dicc_reemplazo_promo)

# --- Resultado ---
df[["producto_id", "producto_id_nuevo", "producto_id_final", "promo_id_final"]]

     producto_id  producto_id_nuevo  producto_id_final  promo_id_final
0              1               11.0               11.0             NaN
1              2               17.0               17.0             NaN
2              1               11.0               11.0             NaN
3             41               22.0               22.0             NaN
4             48               34.0               34.0             NaN
..           ...                ...                ...             ...
691           11               13.0               13.0             NaN
692            3               22.0               22.0             NaN
693            8               38.0               38.0             NaN
694            2               17.0               17.0             NaN
695           22               19.0                NaN            19.0

[696 rows x 4 columns]

In [195]:
df[df.isnull().any(axis=1)]

,venta_id,producto_id,cantidad,precio_unitario,total,producto_id_nuevo,producto_id_final,promo_id_final
0,1,1,1.0,13990,13990,11.0,11.0,NaN
1,1,2,1.0,7500,7500,17.0,17.0,NaN
2,2,1,1.0,14990,14990,11.0,11.0,NaN
3,3,41,1.0,13490,13490,22.0,22.0,NaN
4,4,48,2.0,500,1000,34.0,34.0,NaN
...,...,...,...,...,...,...,...,...
691,530,11,1.0,2300,2300,13.0,13.0,NaN
692,530,3,1.0,4500,4500,22.0,22.0,NaN
693,530,8,1.0,7900,7900,38.0,38.0,NaN
694,531,2,1.0,7990,7990,17.0,17.0,NaN
695,532,22,1.0,18990,18990,19.0,NaN,19.0

In [196]:
df['producto_id_nuevo'].fillna(30, inplace=True)

C:\Users\sherr\AppData\Local\Temp\ipykernel_33588\3995507818.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['producto_id_nuevo'].fillna(30, inplace=True)

In [197]:
df.isnull().sum()

venta_id               0
producto_id            0
cantidad               0
precio_unitario        0
total                  0
producto_id_nuevo      0
producto_id_final    227
promo_id_final       470
dtype: int64

In [181]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   venta_id           696 non-null    int32
 1   producto_id        696 non-null    int32
 2   cantidad           696 non-null    float64
 3   precio_unitario    696 non-null    int32
 4   total              696 non-null    int32
 5   producto_id_nuevo  696 non-null    int64
 6   producto_id_final  469 non-null    float64
 7   promo_id_final     226 non-null    float64
dtypes: float64(3), int32(4), int64(1)
memory usage: 32.8 KB

In [199]:
df.drop(columns=['producto_id','producto_id_nuevo'], inplace=True)

In [200]:
df

,venta_id,cantidad,precio_unitario,total,producto_id_final,promo_id_final
0,1,1.0,13990,13990,11.0,NaN
1,1,1.0,7500,7500,17.0,NaN
2,2,1.0,14990,14990,11.0,NaN
3,3,1.0,13490,13490,22.0,NaN
4,4,2.0,500,1000,34.0,NaN
...,...,...,...,...,...,...
691,530,1.0,2300,2300,13.0,NaN
692,530,1.0,4500,4500,22.0,NaN
693,530,1.0,7900,7900,38.0,NaN
694,531,1.0,7990,7990,17.0,NaN
695,532,1.0,18990,18990,NaN,19.0

In [201]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   venta_id           696 non-null    int32
 1   cantidad           696 non-null    float64
 2   precio_unitario    696 non-null    int32
 3   total              696 non-null    int32
 4   producto_id_final  469 non-null    float64
 5   promo_id_final     226 non-null    float64
dtypes: float64(3), int32(3)
memory usage: 24.6 KB

In [209]:
df["producto_id_final"] = pd.to_numeric(df["producto_id_final"], errors="coerce").astype("Int64")
df["promo_id_final"] = pd.to_numeric(df["promo_id_final"], errors="coerce").astype("Int64")

In [210]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   venta_id           696 non-null    int32
 1   cantidad           696 non-null    float64
 2   precio_unitario    696 non-null    int32
 3   total              696 non-null    int32
 4   producto_id_final  469 non-null    Int64
 5   promo_id_final     226 non-null    Int64
dtypes: Int64(2), float64(1), int32(3)
memory usage: 26.0 KB

## Inicialización de la base de datos sqlite 3 insersión de datos

In [211]:
conn_sqlite = sqlite3.connect(db_path)
cursor = conn_sqlite.cursor()

In [213]:
rows = []
for _, row in df.iterrows():
    rows.append((
        int(row["venta_id"]) if pd.notnull(row["venta_id"]) else None,           
        int(row["precio_unitario"]) if pd.notnull(row["precio_unitario"]) else None,    
        int(row["total"]) if pd.notnull(row["total"]) else None,              
        float(row["cantidad"]) if pd.notnull(row["cantidad"]) else None,       
        int(row["promo_id_final"]) if pd.notnull(row["promo_id_final"]) else None,     
        int(row["producto_id_final"]) if pd.notnull(row["producto_id_final"]) else None
    ))

In [ ]:
insert_sql = """
INSERT INTO venta_detalleVenta
(venta_id, precio_unitario, total, cantidad, promo_id_final, producto_id_final)
VALUES (?, ?, ?, ?, ?, ?)
"""

In [ ]:
try:
    cursor.executemany(insert_sql, rows)
    conn_sqlite.commit()
    conn_sqlite.close()
    print("Carga a inventario_producto completada.")
except Exception as e:
    print(f"Error durante la carga a inventario_producto: {e}")

Carga a inventario_producto completada.